@charset "UTF-8";
body {
  background-color: white;
}
main {
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  background-color: bisque;
  display: grid;
  place-items: center;
}

.aExterior {
  background-color: red;
  border-radius: 2.5rem;
  width: 70%;
  height: 85%;
  align-items: flex-start;
  justify-content: center;
}

.detalleVentilacion {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: 2px SOLID BLACK;
}
.aire {
  width: 1%;
  height: 1%;
  background-color: bisque;
}
.consola {
  width: 1%;
  height: 1%;
  background-color: blue;
}
